<div class="admin-navigation"  th:fragment="admin-nav-bar">
    <ul class="nav-bar">
        <li class="nav-element"><a th:href="@{/admin/dashboard}" class="nav-link">Students</a></li>
        <li class="nav-element"><a th:href="@{/sponsor-a-child/}" class="nav-link">Sponsors</a></li>
        <li class="nav-element"><a th:href="@{/admin/dashboard/upload}" class="nav-link">Upload Children</a></li>
        <li class="nav-element-right"><a th:href="@{/logout}" class="nav-link">Logout</a></li>
    </ul>
</div>