<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="common-head :: common-head"></div>
    <link rel="stylesheet" th:href="@{/css/admin/dashboard.css}">
</head>

<body>
<div>
    <div th:replace="header :: header"></div>

    <div class="jumbotron jumbotron-fluid">
        <div th:replace="logout-button :: logout-button"/>
        <div class="container">
            <h1 class="display-4">Admin Dashboard</h1>
            <p class="lead">View information about children, sponsors, sponsorships, etc.</p>
        </div>
    </div>

    <div class="children-table">
        <h4>Children Information</h4>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">Child Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Birth Year</th>
                <th scope="col">Grade</th>
                <th scope="col">Is Sponsored?</th>
                <th scope="col">Desired Occupation</th>
                <th scope="col">Created</th>
                <th scope="col">Last Updated</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="child : ${children}">
                <td th:text="${child.childId}"/>
                <td th:text="${child.firstName}"/>
                <td th:text="${child.lastName}"/>
                <td th:text="${child.birthYear}"/>
                <td th:text="${child.grade}"/>
                <td th:text="${child.sponsored}"/>
                <td th:text="${child.desiredOccupation}"/>
                <td th:text="${child.creationDate}"/>
                <td th:text="${child.lastUpdateDate}"/>
                <td>
                    <input type="button" class="btn btn-primary" value="Edit" th:attr="onclick=|fetchChildInfo('${child.childId}')|" />
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="admin-tools-div">
        <a th:href="@{/admin/dashboard/upload}" class="btn btn-primary upload-children-data-button">Upload Children Data</a>
    </div>

    <div class="">
        <form class="edit-child-form" th:action="@{/admin/dashboard/edit-child}" th:object="${child}" method="post">
            <fieldset>
                <input type="hidden" id="child-id" th:field="*{childId}" />
                <label for="child-first-name">First Name:</label>
                <input type="text" id="child-first-name" th:field="*{firstName}" />
                <label for="child-last-name">Last Name:</label>
                <input type="text" id="child-last-name" th:field="*{lastName}"/>
                <label for="child-birth-year">Birth year:</label>
                <input type="text" id="child-birth-year" th:field="*{birthYear}"/>
                <label for="child-desired-occupation">Desired Occupation:</label>
                <input type="text" id="child-desired-occupation" th:field="*{desiredOccupation}" />
                <label for="child-grade">Grade:</label>
                <input type="text" id="child-grade" th:field="*{grade}" />
                <label for="child-is-sponsored">Sponsored:</label>
                <input type="text" id="child-is-sponsored" th:field="*{sponsored}"/>
            </fieldset>
            <input type="submit" class="btn btn-primary" value="Update" />
        </form>
    </div>

</div>

<script>

    function fetchChildInfo(childId) {
        console.log(childId);
        $.ajax({
            url: '/admin/retrieve-child/',
            type: 'GET',
            data: {"childId": childId},
            success : function(childInfoResponse) {
                $('#child-id').val(childInfoResponse.childId);
                $('#child-first-name').val(childInfoResponse.firstName);
                $('#child-last-name').val(childInfoResponse.lastName);
                $('#child-birth-year').val(childInfoResponse.birthYear);
                $('#child-grade').val(childInfoResponse.grade);
                $('#child-is-sponsored').val(childInfoResponse.sponsored);
                $('#child-desired-occupation').val(childInfoResponse.desiredOccupation);
                $('.edit-child-form').show();
            },
            error : function() {

            }
        });
    }

</script>

</body>
</html>

