<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="common-head :: common-head"></div>
    <link rel="stylesheet" th:href="@{/css/admin/upload.css}">
</head>
<body>
<div th:replace="header :: header"></div>

<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Upload Children Data</h1>
        </div>
    </div>
    <div class="container">
        <form class="form-group upload-children-form" th:action="@{/admin/upload-children-data}" method="post" enctype="multipart/form-data">
            <ul class="import-directions-div">
                <b>To complete the import, please follow these directions.</b>
                <li>Please ensure that your file is an Excel file (.xls or .xlsx).</li>
                <li>Please verify that your file has the same headers as the provided template.</li>
                <li>Click the box to upload your file and then submit to import your students!</li>
            </ul>
            <div class="center-button-container download-template-button">
                <a href="/UploadChildrenTemplate.xlsx" download="Import-Template.xlsx" class="btn btn-secondary">Download Template</a>
            </div>
            <div class="upload-area-div">
                <span>Please upload a file (.xls or .xlsx)</span>
                <input class="form-control" type="file" name="file" accept=".xls,.xlsx">
            </div>
            <div class="center-button-container">
                <input class="btn btn-primary" type="submit" value="Upload">
            </div>
        </form>
    </div>
</div>

</body>