<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/common.css">
</head>
<body>
<div class="banner">
    <div>
        <nav class="navbar navbar-light navbar-custom">
            <a class="navbar-brand" href="#">
                <img class="d-inline-block align-top tucklets-logo" alt="" src="../../static/images/tucklets-icon.PNG"/>
            </a>
        </nav>
    </div>
</div>
<div class="container" style="">
    <p>
    <p class="" th:text="|Dear ${sponsor.firstName} ${sponsor.lastName},|"></p>
    <p class="">Thank you for supporting Tuckets, a 501(c)(3) public benefit charitable corporation. </p>
    <p class="">Here is our latest <a th:href="${newsletterLink}">newsletter!</a> </p>
    <p> Thank you again for your support!</p>
    <p> Sincerely, </p>
    <p> Tucklets Foundation</p>
    <p> Click <a th:href="${unsubscribeLink}">Here</a> to unsubscribe</p>
    </div>
</div>
</body>
</html>