.children-table {
    padding: 5%;
}

.children-table tr:hover {
    background-color: #c9bbfb26;
}

.admin-tools-div {
    text-align: center;
    margin-bottom: 2%;
}

.upload-children-data-button {
    border: 0;
    cursor: pointer;
}

.modify-child-form {
    padding: 5% 10%;
}

.modify-child-form input {
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 2%;
    background-color: #e8eeef;
    margin-bottom: 5%;
}

.modify-child-form fieldset {
    border: 0;
}
/* The Modal box */
.modify-child-modal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 42%;
}

/* The Modal (background) */
.modal-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.delete-child-button {
    height: 20px;
    width: 20px;
}

.children-data-table tbody tr.deleted-row-styling {
    visibility: collapse;
}

.children-data-table th, .children-data-table td {
    vertical-align: middle;
}

.icon-image {
    width: 100px;
    height: 100px;
}

.edit-profile {
    display: block;
    margin: 0 auto;
    border: 1px dashed #9576c8;
    cursor: pointer;
}

.icon-image-input {
    display: none;
}