.upload-children-form {
    padding: 2%;
}

.upload-area-div {
    text-align: center;
    border: 2px solid #9576c8;
}

.successful-import-text {
    color: #4BB543;
    font-weight: bold;
}

.error-import-text {
    color: #FF0000;
}

.import-directions-div {
    text-align:center;
}

.download-template-button {
    margin-bottom: 10px;
}

.upload-button {
    float: right;
}