.jumbotron-sponsor-landing-page {
}

.navbar-custom {
    background-color: white;
}

.tucklets-logo {
    width:375px;
    height:125px;
}

.children-container {
}

.children-container .btn-primary {
    background-color: #3e2763;
    border-color: #3e2763;
}

.children-container .card {
    display: inline-block;
    width: 18rem;
}

