.jumbotron-sponsor-landing-page {
}

.navbar-custom {
    background-color: white;
}

.tucklets-logo {
    width:375px;
    height:125px;
}

.children-div .btn-primary {
    background-color: #3e2763;
    border-color: #3e2763;
}

.children-div .card {
    display: inline-block;
    width: 20rem;
}

.child-div {
    margin: 1rem;
}
