<div th:fragment="header">
  <title> Tuckets</title>

  <div>
    <nav class="navbar navbar-light navbar-custom">
      <a class="navbar-brand" href="/">
        <img class="d-inline-block align-top tucklets-logo" alt="" th:src="@{/images/tucklets-icon.PNG}"/>
      </a>
      <select class="supported-languages-dropdown" th:if="${localeContainer.supportedLocales != null}">
        <option th:each="locale : ${localeContainer.supportedLocales}" th:value="${locale.localeString}" th:text="${locale.localeDisplayName}" th:selected="${locale.localeString} == ${localeContainer.selectedLocaleString}"/>
      </select>
    </nav>
  </div>
</div>


