<div th:fragment="header">
  <title> Tuckets</title>

  <div>
    <nav class="navbar navbar-light navbar-custom">
      <a class="navbar-brand" href="#">
        <img class="d-inline-block align-top tucklets-logo" alt="" th:src="@{/images/tucklets-icon.PNG}"/>
      </a>
      <select class="supported-languages-dropdown">
        <option th:each="locale : ${localeContainer.supportedLocales}" th:value="${locale.toString()}" th:text="${locale.displayName}" th:selected="${locale} == ${localeContainer.selectedLocale}"/>
      </select>
    </nav>
  </div>
</div>


