<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <div th:replace="header :: header"></div>
  <link rel="stylesheet" th:href="@{/css/sponsor-a-child.css}">
</head>

<body>
  <div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Sponsor a child</h1>
        <p class="lead">Your donation will keep one child in school and provide education, food, health services, and clothing.</p>
      </div>
    </div>
    <div class="container">
      <p> You can donate in any capacity, or sponsor one or more children out of close to 1000 children
        that are in the school, or sponsor one or more child from the list below or sponsor a
        teacher.  Children list below is a partial list and will be updated on regular basis.</p>
    </div>
    <div class="container children-div" >
      <div class="card child-div" th:each="child: ${children}">
        <img class="card-img-top" th:src="@{/images/sample-kid.png}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" th:text="|${child.firstName} ${child.lastName}|" />
          <p class="card-text"><b>Age: </b> <span th:text="|${child.age} years old|"/></p>
          <p class="card-text"><b>Grade: </b><span th:text="${child.grade}"/></p>
          <p class="card-text"><b>Aspirations: </b><span th:text="${child.desiredOccupation}"/></p>
          <a href="/sponsor-info/" class="btn btn-primary" onClick=""> Sponsor me </a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" th:inline="javascript" th:src="@{/js/sponsor.js}"></script>

</body>
</html>