<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <div th:replace="common-head :: common-head"></div>
  <link rel="stylesheet" th:href="@{/css/sponsor-a-child.css}">
  <script type="text/javascript" th:src="@{/js/sponsor-a-child.js}"></script>
</head>

<body>
  <div th:replace="header :: header"></div>
  <div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4" th:text="#{sponsor-a-child.title}"/>
        <p class="lead" th:text="#{sponsor-a-child.subtitle}" />
      </div>
    </div>
    <div class="container">
      <p th:text="#{sponsor-a-child.description}">
    </div>
    <form class="select-child-form container" th:action="@{/sponsor-info/}" method="get">
      <div class="container children-div">
        <label
                th:each="childContainer : ${children}"
                th:id="child-id + ${childContainer.child.childId}"
                th:for="checkbox- + ${childContainer.child.childId}"
                class="card child-div"
                th:onchange="'onChildSelection(\'' + ${childContainer.child.childId} + '\');'">
          <img class="card-img-top" th:src="@{/images/sample-kid.png}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" th:text="|${childContainer.child.firstName} ${childContainer.child.lastName}|" />
            <p class="card-text"><b th:text="#{child.age}" /><span th:text="|${childContainer.age} years old|"/></p>
            <p class="card-text"><b th:text="#{child.grade}" /><span th:text="${childContainer.child.grade}"/></p>
            <p class="card-text"><b th:text="#{child.info}" /><span th:text="${childContainer.child.desiredOccupation}"/></p>
            <input type="checkbox" name="childId" th:id="checkbox- + ${childContainer.child.childId}" th:value="${childContainer.child.childId}">
          </div>
        </label>
      </div>
      <input type="submit" class="btn btn-primary sponsor-now-button" value="Sponsor Now">
    </form>
  </div>
</body>
</html>