<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="common-head :: common-head"></div>
    <link rel="stylesheet" th:href="@{/css/sponsor-info.css}">
</head>

<body>
<div>
    <div th:replace="header :: header"></div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Sponsor Information</h1>
            <p class="lead">Thank you for your support!</p>
        </div>
    </div>
    
    <div class="container selected-children-div">
        <div class="child-div" th:each="child: ${childAndSponsor.children}">
            <div class="child-image-div">
                <img class="" th:src="@{/images/sample-kid.png}" alt="Card image cap" width="142" height="162">
            </div>
            <div class="card-block px-2">
                <h5 class="card-title" th:text="|${child.firstName} ${child.lastName}|" />
                <p class="card-text"><b>Age: </b> <span th:text="|${child.birthYear} years old|"/></p>
                <p class="card-text"><b>Grade: </b><span th:text="${child.grade}"/></p>
                <p class="card-text"><b>Aspirations: </b><span th:text="${child.desiredOccupation}"/></p>
            </div>
            <div class="w-100"></div>
        </div>
    </div>

    <div class="sponsor-info-div">
        <form class="sponsor-info-form" th:action="@{/sponsor-info/submit}" th:object="${childAndSponsor}" method="post">
            <fieldset>
                <input type="hidden" id="children" th:field="*{children}" th:value="*{children}"/>
                <legend><span class="sponsor-info-section-number">1</span> Personal Information</legend>
                <label> </label>
                <label for="sponsor-first-name">First Name:</label>
                <input type="text" id="sponsor-first-name" th:field="*{sponsor.firstName}" placeholder="Your First Name *">
                <label for="sponsor-last-name">Last Name:</label>
                <input type="text" id="sponsor-last-name"  th:field="*{sponsor.lastName}" placeholder="Your Last Name *">
                <label for="sponsor-email">Email:</label>
                <input type="email" id="sponsor-email"  th:field="*{sponsor.email}" placeholder="Your Email ">
                <label for="sponsor-address">Address:</label>
                <input type="text" id="sponsor-address"  th:field="*{sponsor.address}" placeholder="ex. 1234 A Street ">
                <label for="sponsor-church-name">Church Name:</label>
                <input type="text" id="sponsor-church-name" th:field="*{sponsor.churchName}" placeholder="Church Name">
            </fieldset>
            <fieldset>
                <legend><span class="sponsor-info-section-number">2</span> Donation Info</legend>
                <label for="donation-amount">Amount:</label>

                <input type="text" id="donation-amount" th:field="*{sponsor.donationAmount}" readonly/>
                <select th:field="*{donationDuration}">
                    <option th:each="donationDur : ${donationDuration}" th:value="${donationDur}" th:text="${donationDur.displayText}">
                    </option>
                </select>
            </fieldset>
<!--            <a class="btn btn-primary" href="https://www.paypal.com/donate?token=HDDDOArxM62YgvVgcLgaZLKOYs2zDXiAolEmm_suy3n_0Q_Ckn-cM3h8r0O7wvyjAvAu_W&country.x=US&locale.x=US&Z3JncnB0="/>-->

            <input type="submit" value="Submit" />
        </form>
    </div>

</div>


</body>
</html>