.tucklets-nav-padding {
    // This padding should equal the height of the nav bar (when collapsed)!
    padding-top: 76px;
}

.tucklets-main {
    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #8fa7b6;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(78, 104, 120, 0.25);
    }

    .btn.btn-primary {
        color: #ffff;
        background-color: #4AD3B8;
        border-color: #4AD3B8;
        :hover {
            background-color: red;
        }
    }

    .button.btn-primary:hover {
        background-color: red; /* Green */
        color: white;
      }

    .btn.btn-secondary {
        color: #ffff;
        background-color: #4E6878;
        border-color: #4E6878;
    }
}

.tucklets-nav {
    background-color: #fff;
    .nav-links.navbar-nav {
        padding-left: 13px;
        .nav-link.active {
            color: #666666;
        }
        .nav-link:hover {
            color: #f3bd01;
        }
        .nav-link:focus {
            color: #f3bd01;
        }
    }
    
    // Overriding bootstrap's .container css class (within the .tucklets-nav class).
    // Increase the container class's max-width to take up 100% of the
    // navbar horizonally for all device widths.

    @media (min-width: 576px) {
        .container {
            max-width: 100%;
        }
    }

    // Overridding bootstrap agency's navbar-scroll.
    // When scrolling through the page, navbar's background
    // color will now be white.
    &.navbar-scroll {
        background-color: #fff;
    }
}



.tucklets-logo-regular {
    width:192px;
    height:70px;
}

.tucklets-logo-condensed {
    width:155px;
    height:50px;
}

.footer {
    text-align: center;
    font-size: 0.9rem;
    margin:30px;
}

.tucklets-button {
    width: 20%;
    border-radius: 30px;
    margin-bottom: 5%;
}

.tucklets-button:hover {
	background-color: #3e2763;
}