.tucklets-nav {
    .nav-links.navbar-nav {
        .nav-link.active {
            color: #fff;
        }
        .nav-link:hover {
            color: #f3bd01;
        }
    }
    
}

.tucklets-nav.navbar-scroll {
    // padding-top: 1rem;
    // padding-bottom: 1rem;
    background-color: #08979D;
}

