
.confirmation-body {
    .confirmation-div {
        height: 250px;
        box-shadow: 0px 0px 2px 8px #c9bbfb26;
        background-color: #ffff;
    
        .confirmation-table {
            width: 100%;

            .confirmation-spacer {
                height: 10px;
            }
        }
    }
}