@mixin confirmation-box-shadow {
    box-shadow: 0px 0px 2px 8px #c9bbfb26;
}

.confirmation-summary {
    .confirmation-div {
        height: auto;
        @include confirmation-box-shadow;
        background-color: #ffff;
    
        .confirmation-table {
            width: 100%;

            .confirmation-spacer {
                height: 10px;
            }
        }
    }
}

.confirmation-check-div {
    padding: 10px;
    @include confirmation-box-shadow;
}

.confirmation-header {
    color: #666666
}

.confirmation-submission-button {
    display: flex;
    justify-content: center;
}
