@import '_donation-duration.scss';

.donation-button {
    border-radius: 0.25rem;
    
    &:hover {
        @include donation-selected-color;
    }
}

.btn-info.donation-duration-button {
    &:hover {
        background-color: #17a2b8;
    }
    &.donation-duration-selected {
        @include donation-selected-color;
    }
    &.disabled {
        cursor: none;
        pointer-events: none;
        @include donation-selected-color;
    }

}

.btn.btn-info.donation-button {
    border-radius: 0.25rem;
    
    &:hover {
        @include donation-selected-color;
    }

    &:focus {
        @include donation-selected-color;
    }

    &.default {
        @include donation-selected-color;
    }
}

.donation-info-container {
    box-shadow: 0px 0px 2px 8px #c9bbfb26;
    background-color: #fff;

    .donation-information-form {
        padding: 15px;
    }
}
