.about-section {

    .about-section-image {
        max-width: 100%;
        height: auto;
    }
    
    
    .game-changer-image {
        background: url("/static/img/game-changer.jpg");
        background-size: cover;
        background-position: 50% 50%;
        background-attachment: scroll;
        min-height: 300px;
        height: 100%;
    }
    
    .stats-info {
        justify-content: center;
    }

}


.our-story-section {


    .our-story-image {
        background: url("/static/img/our-story.jpg");
        background-size: cover;
        background-position: 50% 50%;
        background-attachment: scroll;
        min-height: 300px;
        height: 100%;
    }

    .our-story-acrostic {
        width: 50%;
        margin: 0 auto;
    }

    .signature {
        color: #3e2763;
        font-family: Brush Script MT, Brush;
        font-size: 30px;
    }



}
