@import '_sponsorship.scss';

.navbar-custom {
    background-color: white;
}

.tucklets-logo {
    width:375px;
    height:125px;
}

.select-child-form .btn-primary {
    background-color: #3e2763;
    border-color: #3e2763;
}


.select-child-form input[type="checkbox"] {
    display: none;
}


.children-div .card {
    display: inline-block;
    width: 20rem;
}

.child-label {

    margin: 1rem;
    @include child-card-box-shadow;
    
    &:hover {
        background-color: #c9bbfb26;
        cursor: pointer;
    }
}

.child-div {
    @include child-card-box-shadow;
}

.child-name {
    color: #B04BC4; 
}


.selected-overlay {
    background-color: #c9bbfb26;
}

.selected-overlay:before {
    content: "";
    background: url("/static/img/blue-checkmark.png") no-repeat top right;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    background-size: 50% 25%;
    position: absolute;
    z-index: 1;
}

.sponsor-now-button {
    float: right;
    width: 20%;
    border-radius: 30px;
    margin-bottom: 5%;
}

.sponsor-now-button:hover {
	background-color: #3e2763;
}

.sponsor-child-image-container {
    height: 400px;
    object-fit: cover;
    overflow: hidden;
    
    .child-image-box {
        height: 200px;
        background-position: center center;
        background-size: cover;
        object-fit: contain;
    }
}
