@import "_donation-duration.scss";

.sponsor-info-div {
	background-color: #f4f7f8;
	margin: 0 15%;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.sponsor-info-form {
    padding: 5% 10%;

}

.sponsor-info-form input {
    width: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 2%;
    background-color: #e8eeef;
    color: #8a97a0;
    margin-bottom: 5%;
}

.sponsor-info-form fieldset {
    border: 0;
}

.sponsor-info-div legend {
	font-size: 1.4em;
}

.sponsor-info-form .sponsor-info-section-number {
    background-color: #3e2763;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-right: 1%;
    line-height: 30px;
    text-align: center;
    border-radius: 5px 5px 15px 15px;

}

.sponsor-info-div label {
	display: block;
	margin-bottom: 8px;
}

.sponsor-info-div input:focus {
	background-color: #d2d9dd;
}


.sponsor-info-div input[type="submit"]:hover,
.sponsor-info-div input[type="button"]:hover
{
	background-color: #3e2763;
}


.child-div {
    position:relative;
    display:flex;
    min-width:0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem;
    flex-direction: row!important;
    flex-wrap: wrap!important;
}

.child-image-div {
    border:0!important;
    background-color: rgba(0,0,0,.03);
}

.btn-info.donation-duration-selected {
    @include donation-selected-color;

}

.duration-button-group {
    width: 50%;
}