@import "_donation-duration.scss";

.sponsor-info {
    .jumbotron {
        background-color: #4A73AD;
    }
    h4 {
        color: #666666
    }
    h1 {
        color: #ffff !important;
        font-weight: 700;
    }

    .sponsor-form-btn {
        width: 200px;
       
    }
    .sponsor-form-bottom {
        display: flex;
        justify-content: center;
    }
}

.sponsor-info-div legend {
	font-size: 1.4em;
}

.sponsor-info-div label {
	display: block;
	margin-bottom: 8px;
}


.sponsor-info-div input[type="submit"]:hover,
.sponsor-info-div input[type="button"]:hover
{
	background-color: #3e2763;
}


.child-div {
    position:relative;
    display:flex;
    min-width:0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem;
    flex-direction: row!important;
    flex-wrap: wrap!important;
}

.child-image-div {
    border:0!important;
    background-color: rgba(0,0,0,.03);
}

.btn-info.donation-duration-selected {
    @include donation-selected-color;

}

.duration-button-group {
    width: 50%;
}