.thank-you-text {
    margin-top:50px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.2;
}

.checkmark-image {
    height:65px;
    width:65px;
}

.thank-you-container {
    text-align:center;
    margin-top:100px;
}

.banner {
    border-bottom: 5px solid #80808014;
}

.group-photo-div {
    background-color: #3e2763;
    text-align:center;
}